// Margin and Padding

$wp-backgrounds:(
        wh: #ffffff,
        rd: #baab9a,
        cr: #fbf4ef,
        cr-img: url(images/page_contents_bg.jpg) no-repeat top right
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $color, $background in $wp-backgrounds {
      .wp-bg#{$infix}-#{$color}  { background:$background !important; }
    }
    .wp-bg#{$infix}-none  { background:none !important; }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $size, $height in $sizes-vertical {
      .wp-vh#{$infix}-#{$size}  { height:$height !important; }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $size, $lengths in $spacers {
      $length-x: map-get($lengths, x);
      $length-y: map-get($lengths, y);
      .wp-yt#{$infix}-#{$size}  { top: $length-y !important; }
      .wp-yb#{$infix}-#{$size} { bottom: $length-y !important; }
      .wp-xl#{$infix}-#{$size} { left: $length-x !important; }
      .wp-xr#{$infix}-#{$size} { right: $length-x !important; }
      .wp-y#{$infix}-#{$size} {
        top: $length-y !important;
        bottom:  $length-y !important;
      }
      .wp-x#{$infix}-#{$size} {
        left:$length-x !important;
        right:$length-x !important;
      }
    }
    .wp-p#{$infix}-fixed { position: fixed !important; }
    .wp-p#{$infix}-absolute { position: absolute !important; }
    .wp-yt#{$infix}-auto { top: auto !important; }
    .wp-yb#{$infix}-auto { bottom: auto !important; }
    .wp-xl#{$infix}-auto { left: auto !important; }
    .wp-xr#{$infix}-auto { right: auto !important; }
    .wp-y#{$infix}-auto {
      top: auto !important;
      bottom:  auto !important;
    }
    .wp-x#{$infix}-auto {
      left: auto !important;
      right:  auto !important;
    }
  }
}
